body {
  box-sizing: border-box;
  top: 0;
  left: 0;
}

h1 {
  color: #00c1d4;
  ;
}

h2 {
  color: #00c1d4;
  ;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40em;
  width: 88em;
  left: 0;
}

.title {
  width: 22em;
  display: flex;
  justify-content: flex-start;
  font-size: 3.5em;
}

.leaderboard-body {
  display: flex;
  flex-direction: row;
  width: 60em;
  box-shadow: 2px 2px 2px 2px #00c1d4;
  min-height: 36em;
  height: auto;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  width: 30em;
  margin-left: 75px;
}

.fill {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00c1d4;
}

.recent-scores-header {
  display: flex;
  flex-direction: row;
  width: 30em;
  justify-content: space-between;
  align-items: center;
}

.recent-scores-title {
  font-size: 2.5em;
}

.button {
  width: 130px;
  height: 60px;
  margin: 5px;
  box-shadow: 2px 2px 2px #00c1d4;
  border: #a6e3e9;
  background-color: #a6e3e9;
  border-radius: 7px;
  color: rgba(0, 0, 0, .6);
  transition: all .2s ease-in-out;
}

.button:hover {
  background-color: #e3fdfd;
  transform: scale(1.07);
}

.recent-scores-body {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px black;
  transition: all .2s ease-in-out;
}

.recent-scores-body:hover {
  transform: scale(1.1);
}

.player {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 50px;
  margin: 0;
  align-items: center;
  padding: 2px;
  color: rgba(0, 0, 0, .8);
  transition: all .2s ease-in-out;
}

.player:hover {
  transform: scale(1.1);
}

.grey {
  background-color: #a6e3e9;
}

.white {
  background-color: #e3fdfd;
  ;
}

.add-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30em;
}

.add-score-title {
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  width: 10em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 16.8em;
  height: 24.7em;
}

.input {
  width: 260px;
  height: 40px;
  margin-bottom: 40px;
  border-radius: 7px;
  background-color: #e3fdfd;
}